.Key {
  background-color: black;
  border-width: 5px;
  border-style: solid;
  border-bottom-color: grey;
  border-left-color: grey;
  border-top-color: rgb(68, 68, 68);
  border-right-color: rgb(68, 68, 68);
  width: 15rem;
  height: 10rem;
  font-weight: bold;
}

.buttonText {
  color: white;
  font-size: 4rem;
}

.extraButtonsText {
  font-size: 2.5rem;
}
/* Branco */
.brancoButton {
  background-color: white;
}
.brancoButtonText {
  color: black;
}

/* Corrige */
.corrigeButton {
  background-color: red;
}
.corrigeButtonText {
  color: black;
}
/* Confirma */
.confirmaButton {
  background-color: green;
}
.confirmaButtonText {
  color: black;
}

.pressed {
  filter: brightness(0.9);
  border-bottom-color: rgb(68, 68, 68);
  border-left-color: rgb(68, 68, 68);
  border-top-color: grey;
  border-right-color: grey;
}

@media only screen and (max-width: 900px) {
  .Key {
    width: 12rem;
    height: 6.5rem;
    /* flex-grow: 1; */
  }
  .extraButtonsText {
    font-size: 1.8rem;
  }
}

/* @media only screen and (max-width: 600px) {
  .Key {
    width: 12rem;
    height: 6.5rem;
  }
  .extraButtonsText {
    font-size: 1.8rem;
  }
} */
