.Keyboard {
  background-color: black;
  flex-direction: column;
  flex-basis: 60rem;
  height: 80rem;

  border-width: 5px;
  border-style: solid;
  border-bottom-color: grey;
  border-left-color: grey;
  border-top-color: rgb(68, 68, 68);
  border-right-color: rgb(68, 68, 68);

  display: flex;
  justify-content: space-around;
}

.keysLine {
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 600px) {
  .Keyboard {
    /* flex-basis: 50%; */
    height: 45%;
  }
}
