.Screen {
  background-color: lightgray;
  /* flex-basis: 100rem; */
  width: 50%;
  width: clamp(50%, 55%, 60%);
  height: 80rem;
  border-width: 5px;
  border-style: solid;
  border-bottom-color: rgb(68, 68, 68);
  border-left-color: rgb(68, 68, 68);
  border-top-color: grey;
  border-right-color: grey;
}

@media only screen and (max-width: 1470px) {
  .Screen {
    width: 82rem;
  }
}

@media only screen and (max-width: 900px) {
  .Screen {
    /* height: 100vh; */
    width: 60%;
    height: clamp(414px, 60%, 100%);
  }
}

@media only screen and (max-width: 600px) {
  .Screen {
    height: 55vh;
    width: 100%;
  }
}
